<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listagem de Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ng-template #carregando>
  Carregando Produtos...
</ng-template>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid *ngIf="listaProduto | async as pedidos; else carregando">
      <ion-row>
        <ion-col size="4">
          Mesa
        </ion-col>
        <ion-col size="3">
          Nome
        </ion-col>
        <ion-col size="3">
          Quantidade
        </ion-col>
      </ion-row>
        <ion-row *ngFor="let p of pedidos" >
            <ion-col size="4">{{p.id}}</ion-col>
            <ion-col size="3">{{p.nome}}</ion-col>
            <ion-col  size="4">{{p.quantidade}}</ion-col>
        </ion-row>
      
      </ion-grid>
  </div>
</ion-content>

